<%= render 'public/header' %>

<div class=" text-center ">
  <h3 class="mt-4 mb-1">カラダづくりを心掛け、健康に生活しよう</h3>
  <p>
    健康で理想のカラダをつくり、<br/>
    日々の生活を楽しく過ごしませんか？<br/>
    いっしょに運動を楽しみましょう。
  </p>
</div>

<%= render 'public/footer' %>