<%= render 'public/header' %>

<label class="mr-3">ジャンル検索</label>
<%#= form_tag( genres_path, method: "get") do %>
 <%#= select_tag "genre.name",options_from_collection_for_select(Genre.all, :id, :name) %>
 <%#= submit_tag '検索', class: "btn btn-success" %>
<%# end %>
<ul>
  <% Genre.all.each do |genre|%>
    <li><%= link_to genre.name, genre_path(genre.id) %></li>
  <% end %>
</ul>

<%= render 'public/footer' %>